<html>

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Universis Project | Viber Connect</title>
	<!-- Universis theme core CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@universis/theme@1.1.2/css/universis.css"
		integrity="sha256-eiB6rNZqEPbZYMS4jEsZNCceohe6OhJn7knaBKgrCJY=" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/b5a816d9e3.js" crossorigin="anonymous"></script>

</head>

<style>
	.wrap {
		background-color: #FFFFFF;
		box-shadow: 0 0 17px 0 rgba(177, 177, 177, 0.5);
		opacity: 0.9;
		padding: 10px;
		margin: 3.5% auto;
		width: 40%;
	}

	.container {
		padding: 5%;
	}
</style>

<body>
	<div class="wrap">
		<div class="container">
			<h2 class="text-center"><i class="fab fa-viber"></i> Viber Authentication</h2>

			<% if (viberConnectAction != null) { %>
				<div class="alert alert-warning">
					Έχετε ήδη ζητήσει αποστολή κωδικού επαλήθευσης στον αριθμό <code><%=person.mobilePhone ?? person.temporaryPhone%></code>.
					<br />
					<a href="/services/viber/otp">Πατήστε εδώ</a> για επαλήθευση.
				</div>
			<% } %>

			<p>Αποδέχομαι να χρησιμοποιηθεί ο αριθμός <code><%=person.mobilePhone ?? person.temporaryPhone%></code> για να λαμβάνω ειδοποιήσεις στο
				Viber μέσω της πλατφόρμας UniverSIS.</p>
			<input type="checkbox" id="termsCheckbox">
			<label for="termsCheckbox"> Αποδέχομαι</label>
			<form action="/services/viber/index" method="post">
				<button type="submit" id="btnContinue" class="btn btn-success" disabled>
					Συνέχεια
				</button>
			</form>
			<a class="btn btn-secondary" href="<%= logoutURL %>">
				Αποσύνδεση <i class="fa fa-sign-out"></i>
			</a>
		</div>
	</div>

</body>
<script>
	var checkBox = document.getElementById('termsCheckbox');
	checkBox.addEventListener('change', function () {
		var btn = document.getElementById('btnContinue');
		if (this.checked) {
			btn.disabled = false;
		} else {
			btn.disabled = true;
		}
	});
</script>

</html>