<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Universis Project | OTP Verification</title>
	<!-- Universis theme core CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@universis/theme@1.1.2/css/universis.css"
		integrity="sha256-eiB6rNZqEPbZYMS4jEsZNCceohe6OhJn7knaBKgrCJY=" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/b5a816d9e3.js" crossorigin="anonymous"></script>

	<style>
		.wrap {
			background-color: #FFFFFF;
			box-shadow: 0 0 17px 0 rgba(177, 177, 177, 0.5);
			opacity: 0.9;
			padding: 10px;
			margin: 3.5% auto;
			width: 40%;
		}

		.container {
			padding: 5%;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		#countdown {
			text-align: center;
			font-size: 18px;
			margin-top: 10px;
		}
	</style>
</head>

<body>
	<div class="wrap">
		<div class="container">
			<h2 style="text-align: center;"><i class="fab fa-viber"></i> Viber Authentication</h2>
			
			<div class="alert alert-info">
				Παρακαλώ εισάγετε τον κωδικό που σας έχει σταλεί στο Viber σας.
			</div>
			<div class="alert alert-info"> Σωστός κωδικός: <code><%=viberConnectAction.pin%></code> 
			</div>

			<% if (viberConnectAction.endTime < new Date()) {%>
				<div class="alert alert-danger">Ο χρόνος έληξε</div>
			<% } else { %>
				<script>
					document.addEventListener('DOMContentLoaded', function(event) {
						let btnSubmit = document.getElementById('btnSubmit');
						let btnResend = document.getElementById('btnResend');
						btnSubmit.disabled = false;
						btnResend.disabled = true;
						let countdownSeconds = Math.round((new Date('<%=viberConnectAction.endTime%>') - new Date())/1000);
						let countdown = document.getElementById('countdown');
						let countdownContainer = document.getElementById('countdownContainer');
						let interval = setInterval(() => {
							countdownSeconds--;
							countdown.innerHTML = countdownSeconds;
							if (countdownSeconds <= 0) {
								clearInterval(interval);
								countdown = null;
								countdownContainer.innerHTML = '<div class="alert alert-danger">Ο χρόνος έληξε</div>';
								btnSubmit.disabled = true;
								btnResend.disabled = false;
							}
						}, 1000);
					});
				</script>
				<div class="mb-3" id="countdownContainer">
					Ο χρόνος λήγει σε: <span id="countdown" class="text-bold">x</span> δευτερόλεπτα
				</div>
			<% } %>

			<% if (error != null) { %>
				<div class="alert alert-danger">
					<%=error%>
				</div>
			<% } %>

			<form method="post" action="/services/viber/otp">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">#</span>
					</div>
					<input type="text" name="pin" class="form-control" placeholder="PIN code">
					<div class="input-group-append">
						<button type="submit" class="btn btn-success" id="btnSubmit" disabled>Υποβολή</button>
					</div>
				</div>
			</form>

			<form method="post" action="/services/viber/sendNewOtp">
				<button type="submit" class="btn btn-primary" id="btnResend">Αποστολή εκ νέου</button>
			</form>
			<p class="w-50 mt-2">
				<span class="text-muted small">
					Αν δεν έχετε λάβει κωδικό, παρακαλώ περιμένετε μέχρι να λήξει ο χρόνος και πατήστε το κουμπί "Αποστολή εκ νέου".
				</span>
			</p>
		</div>
	</div>
</body>

</html>