l<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Universis Project | Viber Connect</title>
  <!-- Universis theme core CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@universis/theme@1.1.2/css/universis.css"
    integrity="sha256-eiB6rNZqEPbZYMS4jEsZNCceohe6OhJn7knaBKgrCJY=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/b5a816d9e3.js" crossorigin="anonymous"></script>

</head>

<style>
  .wrap {
    background-color: #FFFFFF;
    box-shadow: 0 0 17px 0 rgba(177, 177, 177, 0.5);
    opacity: 0.9;
    padding: 10px;
    margin: 3.5% auto;
    width: 40%;
  }

  .container {
    padding: 5%;
  }
</style>

<body>
  <div class="wrap">
    <div class="container">
      <h2 class="text-center"><i class="fab fa-viber"></i> Viber Profile</h2>

      <div class="alert alert-info">
        Έχετε συνδέσει το λογαριασμό σας με το Viber με αριθμό <code><%= user.viberAccount.identifier %></code>.
      </div>
      <form action="/services/viber/deleteAccount" method="post" onsubmit="return confirm('Αυτή η ενέργεια δεν μπορεί να αναιρεθεί. Είστε σίγουρος ότι θέλετε να διαγράψετε τον Viber λογαριασμό σας;');">
        <button type="submit" class="btn btn-danger">
          Διαγραφή Λογαριασμού Viber
        </button>
      </form>
      <a class="btn btn-secondary" href="<%= logoutURL %>">
				Αποσύνδεση <i class="fa fa-sign-out"></i>
			</a>
    </div>
  </div>

</body>

</html>