<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Universis Project | Viber Success</title>
	<!-- Universis theme core CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@universis/theme@1.1.2/css/universis.css"
		integrity="sha256-eiB6rNZqEPbZYMS4jEsZNCceohe6OhJn7knaBKgrCJY=" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/b5a816d9e3.js" crossorigin="anonymous"></script>

</head>

<style>
	.wrap {
		background-color: #FFFFFF;
		box-shadow: 0 0 17px 0 rgba(177, 177, 177, 0.5);
		opacity: 0.9;
		padding: 10px;
		margin: 3.5% auto;
		width: 40%;
	}

	.container {
		padding: 5%;
	}
</style>

<body>
	<div class="wrap">
		<div class="container">
			<h2 style=" text-align: cente	r;"><i class="fab fa-viber"></i> Viber Authentication</h2>
			<p>O αριθμός <code><%=person.mobilePhone ?? person.temporaryPhone%></code> επαληθεύτηκε με επιτυχία.</p>
			<a href="/services/viber/index" class="btn btn-primary">Συνέχεια</a>
			<a href="<%= logoutURL %>" class="btn btn-secondary">Αποσύνδεση <i class="fa fa-sign-out"></i></a>
		</div>
	</div>

</body>

</html>